apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config # Назва нашої "коробки" з конфігом
data: 
  nginx.conf: |
    server {
        listen 80;
        
        location / {
            proxy_pass http://app-service:5000; 
        }
    }